button {
  padding: 3px;
  margin: 5px;
}

.fleet-link-container {
  padding: 25px;
  text-align: center;
}

.fleet-link {
  color: aquamarine;
}

.fleet-link:visited {
  color: aquamarine;
}

.console {
  font-family: Consolas, Courier New;
  width: 800px;
  height: 400px;
  background-color: black;
  color: lightgray;
  overflow: auto;
  padding: 5px;
  white-space: nowrap;
}